/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUERPO */
body {
  min-height: 100vh;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* PANTALLA COMPLETA */
.pantalla {
  min-height: 100vh;
  display: flex;
  align-items: center;      /* centra vertical */
  justify-content: center;  /* centra horizontal */
  padding: 20px;
}

/* TARJETA GRANDE */
.card {
  width: 100%;
  max-width: 420px;
  min-height: 90vh;   /* ocupa casi toda la pantalla */
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TEXTOS */
h1 {
  font-size: 28px;
  text-align: center;
}

.descripcion {
  text-align: center;
  font-size: 16px;
  margin: 10px 0 20px;
}

h2 {
  margin: 15px 0;
}

/* PRODUCTOS */
.productos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.producto {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

/* BOTÓN WHATSAPP */
.btn-whatsapp {
  display: block;
  text-align: center;
  background: #25D366;
  color: white;
  text-decoration: none;
  padding: 15px;
  border-radius: 30px;
  font-size: 18px;
  margin-top: 20px;
}
.productos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.producto {
  text-align: center;
}

.producto img {
  width: 100%;
  max-width: 250px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.nombre {
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.precio {
  font-size: 16px;
  color: #444;
}
