body {
  background: #eeeeee;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  text-align: center;
  width: 90%;
  max-width: 350px;
}

h1 {
  color: #0033cc;
  font-size: 26px;
  margin-bottom: 10px;
}

.info {
  font-size: 16px;
  margin-bottom: 20px;
  color: #444;
}

button {
  background: #25D366;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1ebe5d;
}
