body {
  background: #eeeeee;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: #0033cc;
}

.info {
  font-size: 20px;
}

button {
  background: green;
  color: white;
  padding: 12px;
  border: none;
}